{% extends 'vis/main.html' %}

{% block content %}

<div>
    <div class="wrap">
        <div class="row">
            <p>
                <h1>Seeable Stats</h1></br>... create visual material to help our audience discover meaning in data.
                </br></br>
                We rely upon the wealth of open source graphing tools available via D3 at ObservableHQ.
                </br></br>
                We are currently focusing on Premier League football, and specifically Tottenham Hotspur.
                </br></br>
                Please reach out via Twitter if you have any questions or suggestions.
            </p>
        </div>
    </div>
</div>

{% endblock %}
