{% extends 'vis/main.html' %}

{% block content %}

{% load static %}

<a style="display:block" href='soton'>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static '/media/SotonPosScGrab.jpg' %}" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">See the average positions of the Spurs starting line up and how they performed in their 5-2 win against Southampton.</p>
            </div>
        </div>
    </div>
</a>a>
{% endblock %}
