{% extends 'mainTeams.html' %}

{% block content %}

{% load static %}

<h1>Teams</h1>

<div class="container">

    <div class="row">

        <div class="col-sm">
            <a class="cardLink" style="display:block" href='spurs'>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static '/media/JoseAndKane.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Tottenham Hotspur</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm">
            <a class="cardLink" style="display:block" href='liverpool'>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static '/media/KloppAndMane.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Liverpool</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm">
            <a class="cardLink" style="display:block" href='spurs'>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static '/media/KloppAndMane.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Liverpool</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>

{% endblock %}
