
body{
    background-color: #1A2930;
}
.bg-dark {
    background-color: #1A2930 !important;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    text-align: right;
    margin: 0 0 0;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}
h1 {
    font-size: 50px;
}
.tool {
    font-family: "Fira Sans";
    color: rgba(255,255,255,.8);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 15px;}
.tabletxt {
    margin: auto;
    color: rgba(255,255,255,8);
    font-size: 20px;
}
#firstrow {
    height: 700px;
    position: relative;
    top: 100px;
}
#secondrow {
    height: 600px;
    background-color: grey;
}
.table {
    margin: auto;
    color: rgba(255,255,255,.6);
}
.thin {
    font-weight: 200;
}
.grey {
    font-weight: 100;
    color: gray;
}
.title {
    margin-top: 200px;
}
.tooltip {
    font-family: "Fira Sans";
    background-color: #1A2930;
    color: rgba(255,255,255,.3);
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    padding: 6px;
    left: 53%;
    top: 140px;
    width: 144px;
    height: 110px;
    opacity: 1;
    text-align: center;
}
svg {
    overflow: visible;
}
.iconify {
    position: fixed;
    margin: auto;
    margin-left: 80%;
    width: 28px; 
    height: 28px; 
    float: right }
.navcont {
    margin-left: 5%;
    margin-right: 5%;
    position: fixed;
    flex-flow: row nowrap;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 90%;
}
.navbar-toggler {
    margin-right: 30px;
}
.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark {
    height: 50px;
}
h2 {
    text-align: center;
    margin: 0 0 0;
    font-family: 'Esteban', serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-size: 3rem;
}
.heading {
    padding: 10%
}
.para {
    color: black;
    font-size: 22px;
    font-family: 'Fira Sans';
    text-align: center;
    position: relative;
    top: -200px;
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
    top: -30px;
}
.svgcont {
    width:10%;
    margin:20%;
    padding: auto;
    height:800px;
}
.svgcont2 {
    width:10%;
    margin:auto;
    padding: auto;
    height:500px;
}
.svgcont3 {
    width:10%;
    margin:auto;
    padding: auto;
    height:600px;
}
@media only screen and (max-width: 768px) {
    h1 {
        text-align: center;
        margin: 0 0 0;
        font-size: 40px;
    }
    .svgcont {
        width:10%;
        margin:auto;
        padding: auto;
        height:500px;
    }
    .col-md-6 {
        margin-top: 20px;
    }
    .title {
        text-align: center;
        margin-top: 0px;
    }
    svg {
        overflow: visible;
        vertical-align: middle;
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
    }
    .iconify {
        position: fixed;
        margin-right: 5%;
    }
    .tooltip {
        left: 65%;
        top: 100px;
    }
    #firstrow {
        height: 860px;
    }
    #secondrow {
        height: 850px;
        background-color: grey;
    }
    #maintitle {
        height: 300px;
    }
    #map {
        top: 150px;
        position: absolute;
    }
    h2 {
        text-align: center;
        margin: 0 0 0;
        font-family: 'Esteban', serif;
        font-weight: 700;
        letter-spacing: 1px;
        color: rgb(0, 0, 0);
        font-size: 2.2rem;
    }
    .heading {
        padding: 10%;
    }
    .para {
        text-align: center;
        position: relative;
        font-size: 18px;
        top: -220px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
