{% extends 'Landing/menu.html' %}

{% block content %}

{% load static %}

<h1>Liverpool FC</h1>

<a style="display:block" href='LiverpoolVChelsea'>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static '/media/LiverpoolChelsea.jpg' %}" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">Touch map and performance ratings from Liverpool's 2-0 win against Chelsea.</p>
            </div>
        </div>
    </div>
</a>
{% endblock %}
