{% extends 'Landing/menu.html' %}

{% block content %}

{% load static %}

<h1>Tottenham Hotspur</h1>

<div class="container">

    <div class="row">

        <div class="col-sm">

            <a style="display:block" href='SpursVSoton'>
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static '/media/SotonPosScGrab.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text">Touch map and performance rating in Spurs' 5-2 win against Southampton.</p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        
    </div>
</div>

{% endblock %}
