{% extends 'Landing/playpage.html' %}


{% block metats %}
{% load static %}

<meta name="twitter:description" content="A closer look at the performances of the Dier, Sanchez, Dias and Skriniar"/>
 
<meta property="og:title" content="Comparing Spurs CBs with the defenders they want to buy" />
<meta property="og:type" content="article" /> 
<meta property="og:url" content="http://seeablenews.com/SpursCB" />
<meta property="og:image" content="https://lh3.googleusercontent.com/FipD1N6liRcR2ILmV61X9vbJ_PsKnbp1dQBNn9TJMlelcy4YeIXYnVm9vZsn9f60DMUF2UOveVYyZ4I5D3aI8kbiV8zbGFGmM_nqg4G6aJ_rKo4kQUXrn8wBvKyLEf2ZPEDLuCZl=w2400" />


{% endblock %}


{% block content %}

{% load static %}

<div class="positionsTitle">   

    <h1 class="positionsGrey">CB Stats for 19/20</h1>
    
</div>

<div class="container">

    <div id="observablehq-2973665d">

        <div class="row" id="radarLegend">

            <div class="col-md-4">
                <div class="observablehq-viewof-mapShows"></div>
            </div>

            <div class="col-md-4">
                <div class="observablehq-viewof-dd3"></div>
            </div>

            <div class="col-md-4">
                <div class="observablehq-legend"></div>
            </div>

        </div>

        <div class="row" style="height: 250px;">

            <div class="col-lg-8">
                <div class="observablehq-chart"></div>
            </div>

            <div class="col-lg-4">
                <div class="observablehq-viewof-dd2"></div>
            </div>
            
        </div>

        <div class="observablehq-tooltip"></div>

    </div>

    <script type="module">
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
        import define from "https://api.observablehq.com/d/1a2154c6a393dcc0.js?v=3";
        (new Runtime).module(define, name => {
          if (name === "legend") return Inspector.into("#observablehq-2973665d .observablehq-legend")();
          if (name === "chart") return Inspector.into("#observablehq-2973665d .observablehq-chart")();
          if (name === "viewof mapShows") return Inspector.into("#observablehq-2973665d .observablehq-viewof-mapShows")();
          if (name === "viewof dd2") return Inspector.into("#observablehq-2973665d .observablehq-viewof-dd2")();
          if (name === "viewof dd3") return Inspector.into("#observablehq-2973665d .observablehq-viewof-dd3")();
          if (name === "tooltip") return Inspector.into("#observablehq-2973665d .observablehq-tooltip")();
        });
    </script>

</div>

{% endblock %}
