{% extends 'vis/main.html' %}

{% block content %}

 <div class="row" id="firstrow">
    <div class="col-md-5" id="maintitle">   
        <div class="title">
            <h1 class="grey">CAN</h1>
            <h1>NDOMBELE</h1>
            <h1 class="thin">FINISH A MATCH</h1>
        </div> 
    </div>
    <div class="col-md-7" id="map">       

    </div>
</div>
<div class="row" id="secondrow">
    <div class="heading">
        <h2>How coronavirus spread through England's care homes</h2>
    </div>
    <p class="para">At least 13,500 deaths — nearly 1 in 3 — have occurred in British care homes in the United Kingdom. Deaths attributed to other causes have also risen sharply over the same period — so much so that the homes have 26,000 more deaths than is typical, a concept known as “excess deaths.”</p>


</div>

{% endblock %}
