{% extends 'vis/main.html' %}

{% block metats %}
{% load static %}

<meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:title" content="Liverpool player ratings/touch map show how they beat Chelsea"/>
<meta name="twitter:description" content="A closer look at the English champions' latest performance"/>
<meta name="twitter:image" content="https://lh3.googleusercontent.com/GAtVv-WDx0cisYHZ-C2UUYTPj7cp3esup_cu4VmCAleL1bmo6a4KkcZGRJRE1P-_PihDFX87oNhka7g1JHOJe2Rvvip1VAPwU4ZqFR5CkJkYZTwhyR30WNNOJRmA3rcrUcDaWFcfWQ=w2400"/>

<meta property="og:title" content="Liverpool player ratings/touch map show how they beat Chelsea" />
<meta property="og:type" content="article" /> 
<meta property="og:url" content="http://seeablenews.com/LiverpoolVChelsea" />
<meta property="og:image" content="https://lh3.googleusercontent.com/GAtVv-WDx0cisYHZ-C2UUYTPj7cp3esup_cu4VmCAleL1bmo6a4KkcZGRJRE1P-_PihDFX87oNhka7g1JHOJe2Rvvip1VAPwU4ZqFR5CkJkYZTwhyR30WNNOJRmA3rcrUcDaWFcfWQ=w2400" />

    
{% endblock %}

{% block content %}

    <div class="positionsTitle">   
        <h1 class="positionsGrey">Liverpool vs Chelsea</h1>
    </div>
    <div id="positions">       
        <div id="observablehq-0acde420">
            <div class="row" style="height: 250px;">
                <div class="col-md-6" id="ledge2">
                    <div class="ledgeCont">
                        <div class="observablehq-ledge2" style="margin-top: 0"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="observablehq-ledge" style="margin-top: 17%"></div>
                </div>
            </div>
            <div class="observablehq-chart"></div>
          </div>
          <script type="module">
            import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
            import define from "https://api.observablehq.com/d/4e9ac3cae178cf79.js?v=3";
            (new Runtime).module(define, name => {
              if (name === "ledge") return Inspector.into("#observablehq-0acde420 .observablehq-ledge")();
              if (name === "ledge2") return Inspector.into("#observablehq-0acde420 .observablehq-ledge2")();
              if (name === "chart") return Inspector.into("#observablehq-0acde420 .observablehq-chart")();
            });
          </script>
    </div>

{% endblock %}


