<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="navcont">
    <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Seeable</a>
      </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="spurs">TOTTENHAM</a>
            <a class="nav-item nav-link" href="/">About</a>
          </div>
        </div>
      
      <a class="nav-item nav-link" id="twitter" href="https://twitter.com/SeeableNews">
        TWITTER
      </a>      
  </div>
</nav>