{% extends 'vis/main.html' %}

{% block content %}

 <div class="row" id="firstrow">
    <div class="col-md-5" id="maintitle">   
        <div class="title">
            <h1 class="grey">Tottenham vs Southampton</h1>
        </div> 
    </div>
    <div class="col-md-7" id="map">       
        <div id="observablehq-9a0d56c1">
            <div class="observablehq-ledge"></div>
            <div class="observablehq-ledge2"></div>
            <div class="observablehq-chart"></div>
          </div>
          <script type="module">
            import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
            import define from "https://api.observablehq.com/@theojolliffe/spurs-positions-v-southampton.js?v=3";
            (new Runtime).module(define, name => {
              if (name === "ledge") return Inspector.into("#observablehq-9a0d56c1 .observablehq-ledge")();
              if (name === "ledge2") return Inspector.into("#observablehq-9a0d56c1 .observablehq-ledge2")();
              if (name === "chart") return Inspector.into("#observablehq-9a0d56c1 .observablehq-chart")();
            });
          </script>
    </div>
</div>

{% endblock %}
